body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

p, h2 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.auth p {
    margin: 10px 0;
}

.posts {
    max-width: 600px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
}

button, .back-button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background 0.3s;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: 500;
}

p {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

table tr:nth-child(even) {
    /* Этот цвет будет задаваться динамически */
}

.logout-form {
    position: fixed;
    float: right;
    width: 100px;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.logout-form button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.search-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.search-container input {
    margin: 0 10px 0 0;
}

.header-container {
    position: sticky;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    width: 100%;
}

.navel {
    text-decoration: none;
    margin: 10px 50px;
    font-size: 20px;
    text-transform: uppercase;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.radio-label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.radio-label input[type="radio"] {
    margin:  3px 5px 0 15px;
    transform: scale(1.2);
}

.groups {
    max-width: 600px;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.group h2 {
    margin: 0;
}

.group_info {
    display: flex;
    flex-direction: column;
}

.post_content {
    margin-top: 10px;
}

.posts-container {
    width: 100%;
    flex-direction: row;
}

.post {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.post-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.post h2 {
    margin: 0;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.action-button {
    height: 40px;
    width: 40px;
    margin-top: 5px;
}

.subscribers {
    width: 100%;
}

.subscriber {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.back-button {
    align-self: start;
}

.back-button a {
    text-decoration: none;
}

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-items: center;
}

.users {
    width: 100%;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.error-container {
    max-width: 600px;
}

.error-container a {
    margin-top: 10px;
}

select {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

select:hover {
    /* Цвет задается динамически */
}

select:focus {
    outline: none;
}

.transfer-actions {
    display: flex;
    flex-direction: row;
}

.edit-user p {
    margin-bottom: 10px;
}

.color {
    width: 50px;
    height: 50px;
}

.color-settings {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}